<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Celular </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="currentLoan">
        <th mat-header-cell *matHeaderCellDef> Pegou emprestado </th>
        <td mat-cell *matCellDef="let element"> <a *ngFor="let loan of element.currentLoan"> {{loan.gameTitle }}; </a> 
        </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th width="120px" mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="edit(element)"
                aria-label="Editar amigo">
                <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="delete(element)" color="primary"
                aria-label="Remover amigo">
                <mat-icon aria-hidden="false" aria-label="Example home icon">delete_forever</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>