<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Amigos">

    <div style="margin:24px">

      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cadastrar Amigo
            </mat-panel-title>
          </mat-expansion-panel-header>     
          <add-friend-form [table]="friendTable"></add-friend-form>     
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Amigos cadastrados
            </mat-panel-title>
          </mat-expansion-panel-header>
          <friend-table #friendTable></friend-table>     
        </mat-expansion-panel>
        
      </mat-accordion>
    </div>
  </mat-tab>

  <mat-tab label="Jogos">
    <div style="margin:24px">

      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cadastrar Game
            </mat-panel-title>
          </mat-expansion-panel-header>     
          <add-game-form [table]="gameTable"></add-game-form>     
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Games cadastrados
            </mat-panel-title>
          </mat-expansion-panel-header>
          <game-table #gameTable></game-table>     
        </mat-expansion-panel>
        
      </mat-accordion>
    </div>

  </mat-tab>
  <mat-tab label="Empréstimos">Content 3</mat-tab>
</mat-tab-group>